@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "../../assets/styles/bootstrap-reboot.min";

body { font-family: 'Lato', sans-serif; }

html,
body,
.all-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0B2D6A;
}


.button {
  background-color: #578BFF;
  border: none;
  border-radius: 4px;
  &:disabled {
    background-color: #578bff7d;
    cursor: not-allowed;
  }
}